html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #244751;
    background-color: #eee;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

main.container {
    width: 450px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 140px;
    background-color: white;
}